<button class="custom-btn {{ class }}" type="{{ type | default: 'button' }}">
    {{ text }}
</button>

<button class="custom-btn {{ class }}" type="{{ type | default: 'button' }}">
    {{ text }}
    <img src="{{ 'Arrow 1.svg' | asset_url }}" class="btn-arrow" alt="Arrow" width="20" height="20">

</button>

