<button class="custom-btn {{ class }}" type="{{ type | default: 'button' }}">
    {{ text }}
</button>

<button class="custom-btn {{ class }}" type="{{ type | default: 'button' }}">
    {{ text }}
    <img src="{{ 'arrow.svg' | asset_url }}" class="btn-arrow" alt="Arrow" width="" height="">
</button>

